<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To-Do's</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <h1>To-Do list</h1>
  <div id="app">
    <form @submit.prevent="addToDo">
      <label>
        Add a todo
        <input type="text" v-model="newToDo" placeholder="E.G. Feed the cat">
      </label>
      <button type="submit">Add todo</button>
    </form>

    <ul>
      <li v-for="(todo, index) in todos" :key="todo.id">
        {{ todo.title }}
        <button @click="todos.splice(index, 1)">Remove</button>
      </li> 
    </ul>

  </div>
  <script src="app.js"></script>
</body>
</html>
